@media (max-width: 1370px) {
  .header-content{
    &__img-box{
      &::after{
        display: none;
      }
    }
    &__title {
      font-size: 40px;
      line-height: 60px;
    }
    &__nums{
      gap: 40px;
    }
    &__num-title {
      font-size: 35px;
      line-height: 45px;
    }
  }
  .best-seller__slider-prev,
  .best-seller__slider-next{
    top: auto;
    bottom: -100px;
  }
  .best-seller__slider-prev{
    left: 50%;
    transform: translateX(calc(-50% - 30px)) rotate(-180deg);
  }
  .best-seller__slider-next{
    right: 50%;
    transform: translateX(calc(50% + 30px));
  }
}

@media (max-width: 1200px) {
  .latest{
    &__inner{
      flex-wrap: wrap;
      justify-content: space-between;
    }
    &__item{
      max-width: 45%;
    }
    &__content{
      width: 45%;
    }
  }
  .product-item{
    max-width: 100%;
  }
}

@media (max-width: 1100px){
  .title{
    font-size: 30px;
    line-height: 45px;
  }
  .latest{
    padding: 75px 0 50px;
  }
  .best-seller,
  .guide,
  .popular,
  .collections,
  .start,
  .discover,
  .product-one,
  .about{
    padding: 50px 0;
  }
  .explore{
    padding: 70px 0 30px;
  }
  .header{
    &__nav{
      margin-left: auto;
    }
  }
  .menu{
    order: 1;
    &__btn{
      display: flex;
      margin-left: 20px;
      position: relative;
      z-index: 11;
    }
    &__list{
      position: absolute;
      width: 100%;
      top: 100px;
      left: 0;
      flex-direction: column;
      align-items: center;
      background-color: #fff;
      transition: all .3s;
      transform: translateY(-300%);
      z-index: 10;
      padding-bottom: 30px;
    }
    &__list--active{
      transform: translateY(0%);
    }
    &__item{
      width: 100%;
    }
    &__link{
      display: block;
      text-align: center;
      padding: 10px 0;
    }
  }
  .logo{
    position: relative;
    z-index: 11;
  }
  .footer{
    &__top{
      flex-wrap: wrap;
    }
    &__item{
      max-width: 45%;
    }
  }
  .popular,
  .discover{
    &__items{
      grid-template-columns: repeat(3,1fr);
    }
  }
  .start{
    &__inner{
      padding: 96px 40px 57px;
      gap: 30px;
    }
    &__title {
      font-size: 30px;
      line-height: 50px;
    }
  }
  .product-one{
    &__img{
      max-width: 450px;
    }
  }
  .collection{
    padding-bottom: 50px;
  }
}

@media (max-width: 950px) {
  .header-content{
    &__img-box{
      &::before{
        display: none;
      }
      width: 100%;
      height: 100%;
    }
    &__popup{
      width: 70px;
      height: 70px;
      left: -35px;
      &::before{
        width: 60px;
        height: 60px;
      }
    }
  }
  .product-item{
    &__img{
      max-height: 500px;
      height: 100%;
    }
  }
  .guide{
    &__slide{
      padding: 30px 30px 30px 60px;
    }
    &__slide-content{
      &::before{
        display: none;
      }
    }
  }
  .collections{
    &__items{
      grid-template-columns: repeat(2, 1fr);
    }
  }
  .start {
    &__inner{
      flex-wrap: wrap;
    }
  }
  .product-one{
    &__inner{
      flex-direction: column;
      align-items: center;
    }
    &__content{
      max-width: 100%;
    }
    &__title{
      text-align: center;
    }
    &__users{
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
  .collection{
    &__items{
      grid-template-columns: repeat(2, 1fr);
    }
  }
  .about{
    &__inner{
      flex-direction: column;
    }
    &__tabs{
      max-width: 100%;
    }
    &__content{
      max-width: 100%;
    }
  }
}

@media (max-width: 768px){
  .title {
    font-size: 25px;
    line-height: 35px;
  }
  .latest {
    margin-bottom: 30px;
  }

  .best-seller,
  .guide,
  .popular,
  .collections,
  .start,
  .product-one,
  .about{
    padding: 30px 0;
  }
  .explore {
    padding: 70px 0 30px;
  }

  .header{
    &__nav-link{
      margin-left: 0;
    }
  }
  .footer{
    padding-top: 60px;
    &__form{
      width: 100%;
    }
    &__input{
      width: 100%;
    }
  }
  .header-content{
    &__inner{
      flex-direction: column;
      gap: 40px;
    }
    &__content{
      max-width: 100%;
    }
    &__img-box{
      order: -1;
      height: 500px;
    }
    &__img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 20px;
    }
    &__popup{
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .latest{
    &__content-text{
      font-size: 25px;
      line-height: 35px;
    }
  }
  .best-seller__slider-prev,
  .best-seller__slider-next {
    bottom: -60px;
  }
  .best-seller{
    &__slide-wrapper{
      max-width: 100%;
    }
  }
  .explore{
    &__top{
      margin-bottom: 20px;
    }
  }
  .guide{
    &__top{
      margin-bottom: 30px;
    }
  }
  .popular{
    &__title{
      margin-bottom: 30px;
    }
    &__items {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  .discover {
    &__items {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  .filters{
    &__buttons{
      padding-bottom: 10px;
    }
  }
  .collections{
    &__title{
      margin-bottom: 30px;
    }
  }
  .collections{
    &__items{
      gap: 40px;
    }
  }
  .collection-item{
    &__title-link{
      font-size: 20px;
      line-height: 30px;
    }
    &__items{
      height: 100%;
    }
  }
  .collection{
    padding-bottom: 30px;
  }
}

@media (max-width: 650px) {
  .latest{
    &__item{
      max-width: 100%;
    }
    &__content{
      width: 100%;
    }
  }
  .product-item {
    &__img {
      max-height: 450px;
    }
  }
  .guide {
    &__slide {
      padding: 30px 30px 50px;
    }
    .swiper-pagination{
      width: 100%;
      height: auto;
      left: 0;
      bottom: 10px;
      flex-direction: row;
      gap: 10px;
    }
  }
  .collections{
    &__items{
      grid-template-columns: repeat(1, 1fr);
    }
  }
  .collection-item{
    max-width: 100%;
    &__items{
      max-width: 100%;
    }
  }
}

@media (max-width: 480px) {
  .logo{
    width: 150px;
  }
  .menu{
    &__list{
      top: 85px;
    }
  }
  .footer {
    &__item{
      max-width: 100%;
    }
    &__item-title{
      margin-top: 0;
      margin-bottom: 20px;
      pointer-events: all;
    }
    &__list{
      display: none;
    }
    &__copy-text{
      text-align: center;
    }
  }
  .header-content{
    &__subtitle{
      margin-bottom: 15px;
    }
    &__title{
      font-size: 30px;
      line-height: 40px;
    }
    &__link{
      margin-bottom: 30px;
    }
    &__num-title{
      font-size: 25px;
      line-height: 30px;
    }
    &__img-box{
      height: 300px;
    }
  }
  .popular,
  .discover {
    &__items {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  .start{
    &__title {
      font-size: 23px;
      line-height: 35px;
    }
    &__subtitle{
      margin-bottom: 10px;
      font-size: 12px;
      line-height: 16px;
    }
    &__content{
      margin-bottom: 20px;
    }
    &__links{
      flex-wrap: wrap;
    }
  }
  .product-one{
    &__title{
      font-size: 25px;
      line-height: 35px;
    }
  }
  .collection {
    &__items {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}